@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

#headerwrap {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
  margin-top: 30px;
  text-align:left;

  h1 {
    color: #0489B1;
    font-size: 1.8em;
    font-weight: 200;
    margin: 1em 0.5em;
  }

  input[type=text] {
    font-size: 1.3125em;
    height: 2.9em;
    width:95%;
    text-align: left;
    vertical-align: middle;
    margin-left: 0.5em;
  }
}

.name{
  color: #0489B1;
  font-size: 1.5em;
  margin-top:1px;
}

.title{
  color: #0489B1;
  font-size: 1.2em;
  margin-top:1px;
}

@media (max-width: 990px) {
  .photo {
    width: 100px;
    height:118px;
  }

  .name{
    font-size: 1em;
  }

  .title{
    font-size: 0.8em;
  }
}

