<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>
    <link href="css/site.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="directive/ng-enter.js"></script>
    <script src="service/commonService.js"></script>
    <script src="data.js"></script>
</head>
<body ng-app="personApp">
<div ng-controller="mainController">
    <header id="headerwrap">
        <div class="clearfix">
            <div class="container">
                <h1>People search</h1>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="enter-name" placeholder="enter your search term" class="cform-text" size="40" ng-model="name" ng-enter="filterPersons()">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="persons">
        <div class="container">
            <div class="row" ng-repeat="group in groupedPersons">
                <div class="col-md-4" align="center" ng-repeat="person in group">
                    <img src="{{person.picture}}" alt="" class="photo">
                    <div class="name">
                        <span>{{person.firstName}}</span>&nbsp;<span>{{person.lastName}}</span>
                    </div>
                    <div class="title">
                        <span>{{person.Title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>