﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>People Search</title>
    <link href="css/site.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="directive/ng-enter.js"></script>
</head>
<body ng-app="personApp">
    <div ng-controller="mainController">
        <header id="headerwrap">
            <div class="clearfix">
                <div class="container">
                    <h1>People search</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="enter-name" placeholder="enter your search term" class="cform-text" size="40" ng-model="name" ng-enter="searchPerson()">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="persons">
            <div class="container">
                <div class="row" ng-repeat="group in filteredPersons">
                    <div class="col-md-4" align="center" ng-repeat="person in group">
                        <img src="{{person.photoUrl}}" alt="" class="photo">
                        <div class="name">
                            <span>{{person.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
